<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>856182334966-oj4bka5vq66amf4qs631frm8vvcpus9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856182334966-oj4bka5vq66amf4qs631frm8vvcpus9r</string>
	<key>API_KEY</key>
	<string>AIzaSyDk8WBy5NMN6RnVBBPWampX_tIU-c0H5Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>856182334966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.codesigned.LinkX</string>
	<key>PROJECT_ID</key>
	<string>linkx-9730e</string>
	<key>STORAGE_BUCKET</key>
	<string>linkx-9730e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856182334966:ios:7c995222fcca6f40</string>
	<key>DATABASE_URL</key>
	<string>https://linkx-9730e.firebaseio.com</string>
</dict>
</plist>